:root {
    --main-bg-color: #003366;
    --main-fg-color: #FFF6E0;
    --secondary-bg-color: #79A579;
    --secondary-fg-color: #E0E0E0;
    --third-bg-color: #666666;
    --third-fg-color: #F7F7F7;
}

/* 
* ===================================================================
*
* HEADER 
*
*====================================================================
*/

/* 
* ===================================================================
*
* MAIN
*
*====================================================================
*/

/* 
* ===================================================================
*
* FOOTER
*
*====================================================================
*/